@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Oswald", sans-serif;
	background: lightblue;
}

.card {
	height: 150px;
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	background: #FFF;
}

.icon {
	float: left;
	height: 150px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: lightcoral;
}

.info {
	float: right;
	height: 150px;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	//background: cadetblue;
	span {
		font-size: 20px;
		text-transform: uppercase;
	}
}

.temp {
	font-size: 32px;
	font-weight: 400;
}